/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.orange-line {
    background-color: #F46200;
    padding: 20px;
    margin-bottom: 20px;
}

body {
    background-color: #282828;
}

/* Estilos do cabeçalho e menu */
section {
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    margin-bottom: 20px;
}

section > .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

section > .logo > h2 {
    font-size: 30px;
}

section > .logo > h2 > span {
    color: #F46200;
}

section > .logo > img {
    width: 60px;
    position: relative;
    top: 10px;
}

section > .menu {
    background-color: #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 800px;
    height: 60px;
    justify-content: space-around;
}

section > .menu > ul {
    display: flex;
    list-style: none;
    gap: 100px;
}

section > .menu > ul > li > i {
    margin-right: 15px;
    color: #F46200;
}

li > a {
    color: white;
    text-decoration: none;
}

section > a > .login-button {
    background-color: #F46200;
    color: white;
    padding: 15px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    align-items: center;
    border: none;
}

.container {
    display: flex;
    justify-content: center;
    color: white;
    padding: 30px;
    margin-top: 50px; 
    height: 100%;
}

.left-section {
    background-color: black;
    padding: 110px 40px; 
    border-radius: 20px;
    width: 50%;
    text-align: left;
    margin-bottom: 0; 
}

.right-section {
    background-color: #F46200;
    padding: 60px 40px; 
    border-radius: 20px;
    width: 50%;
    margin-bottom: 0; 
}

.left-section h1 {
    font-size: 100px; 
    margin-bottom: 30px;
}

.left-section h1 .fale {
    color: #F46200; 
}

.left-section h1 .conosco {
    color: white; /
}


.left-section p {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}


.home-button {
    background-color: #F46200;
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
    margin-top: 40px; 
}

a{
    text-decoration: none;
}

.right-section h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}

.right-section label {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

.right-section input, 
.right-section textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    background-color: #333;
    color: white;
    font-size: 16px;
}



.send-button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    display: block;
}

