*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #F0F5FD;
}

::-webkit-scrollbar-thumb{
    background: #fb8500;
}

::-webkit-scrollbar-thumb:hover{
    background: #d36600
}

a{
    color: white;
    font-weight: 200;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: #F46200;
    transition: 0.8s ease-in-out;
}

a > button:hover{
    background-color: white;
    color:#F46200;
    transition: 0.8s ease-in-out;
}

.orange-line{
    background-color: #F46200;
    padding: 20px;
    margin-bottom: 20px;
}

section{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

section > .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

section > .logo > h2 {
    font-size: 30px;
}

section > .logo > h2 > span{
    color: #F46200;
}

section > .logo > img {
    width: 60px;
    position: relative;
    top: 10px;
}

section > .menu {
    background-color: #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 800px;
    height: 60px;
    justify-content: space-around;
}

section > .menu > ul {
    display: flex;
    list-style: none;
    gap: 100px;
}

section > .menu > ul > li > i{
        margin-right: 15px;
        color: #F46200;
}

section > a > button{
    background-color: #F46200;
    color: white;
    padding: 15px;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    align-items: center;
    border: none;
    transition: 0.8s ease-in-out;
}

body{
    background-color: #282828;
}

.card{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    align-self: center;
    height: calc(100vh - 100px); 
}

.card > .cadastro-left{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 500px;
    width: 600px;
}

.card > .cadastro-left > h1{
    font-size: 80px;
    font-weight: 600;
}

.card > .cadastro-left > h3{
    color: #F46200;
}

.card > .cadastro-left > a> button{
    width: 100px;
    background-color: #F46200;
    border: none;
    padding: 10px;
    font-weight: 700;
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
}

.card_erro {
    display: none;
    background-color: white;
    color: black;
    width: 150px;
    position: fixed;
    border-radius: 20px;
    border: solid 2px black;
    padding: 10px;
    text-align: center;
}
  
.card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 15px;
    display: flex;
}

.card_erro img {
    width: 100px;
}

.card > .cadastro-right{
    background-color: #F46200;
    border-radius: 20px;
    color: #282828;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 600px;
}

.card > .cadastro-right > h2{
    font-size: 40px;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.campo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
}

.campo h5 {
    font-weight: 600;
    font-size: 17px;
}

.campo > input {
    
    background-color: #282828;
    border: none;
    border-radius: 12px;
    padding: 15px;
    color: white;
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn button{
    width: 100px;
    background-color: #000000;
    border: none;
    height: 35px;
    font-weight: 700;
    color: white;
    border-radius: 12px;
    margin-top: 10px;
    align-self: center;
}

.btnEsqueci{
    font-style: italic;
    text-decoration: underline;
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px;
}

::-webkit-input-placeholder {
    color: white;
}